swagger: '2.0'
info:
  description: Ashford restful api
  version: 1.0.0
  title: Ashford Decoupling REST API
host: devd.alliancetime.com
schemes:
  - https
produces:
  - application/json
tags:
  - name: AUTH
    description: Ashford AUTH APIs
  - name: USERS
    description: User related APIs
  - name: Navigation
    description: Guided Navigation APIs
  - name: PRICE
    description: Price related APIs
  - name: INVENTORY
    description: Inventory related APIs
  - name: CART
    description: Cart related APIs
  - name: CHECKOUT
    description: Checkout APIs
paths:
  /rest/users/login:
    post:
      description: >2-
         Login API 
        - username/password are mandatory fields

        - Cookies will be added into response (jsessionid and dyn_user_id) once
        login succeed.
      tags:
        - AUTH
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: login
          description: Email
          in: formData
          required: true
          default: darcyyang@aaxiscommerce.com
          type: string
        - name: password
          in: formData
          required: true
          type: string
      responses:
        '200':
          description: login success
          headers:
            Set-Cookie:
              type: string
              description: ATG Auth token
              default: >-
                DYN_USER_CONFIRM=0312b45d4888fe11ec2b192e2d9147ee;DYN_USER_ID
                =1440003;JSESSIONID=70055B7A54504E528504A42B430CC2AA.devd-store21;firstname=Darcy;lastname=Yang
          schema:
            $ref: '#/definitions/login-success-response'
        '401':
          description: login failure
          schema:
            $ref: '#/definitions/login-failure-response'
  /rest/users/logout:
    post:
      description: Atg cookies will be cleared once logout succeed.
      parameters:
        - name: Cookie
          in: header
          required: true
          type: string
          default: >-
            DYN_USER_CONFIRM=0312b45d4888fe11ec2b192e2d9147ee;DYN_USER_ID
            =1440003;JSESSIONID=70055B7A54504E528504A42B430CC2AA.devd-store21;firstname=Darcy;lastname=Yang
          description: The session cookie (for any operations that require auth)
      tags:
        - AUTH
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/logout-response'
  /rest/users/resetpassword:
    post:
      description: ' Reset password API '
      tags:
        - USERS
      parameters:
        - name: email
          in: query
          default: darcyyang@aaxiscommerce.com
          description: User email
          required: true
          type: string
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/reset-pwd-response'
  /rest/users:
    post:
      tags:
        - USERS
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      description: Registration new user API
      parameters:
        - name: firstName
          in: formData
          default: darcy
          required: true
          type: string
        - name: lastName
          in: formData
          default: yang
          required: true
          type: string
        - name: email
          in: formData
          default: darcyyang@aaxiscommerce.com
          required: true
          type: string
        - name: password
          default: passw0rd1
          in: formData
          required: true
          type: string
        - name: passwordConfirm
          in: formData
          default: passw0rd1
          required: true
          type: string
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/response'
  '/rest/categories/{endecaParams}':
    get:
      tags:
        - Navigation
      description: |-
        Category landing page API.
        - Facets data
        - Product list
        - Sortby options
        - Total count
        - Current page
        - Page size
      parameters:
        - name: endecaParams
          in: path
          description: Endeca dimension parameters
          required: true
          default: N-7z3
          type: string
          format: string
        - name: currentPage
          in: query
          description: current page index
          type: integer
          default: 1
        - name: recordPerPage
          in: query
          description: number of record return per page
          type: integer
          default: 40
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/CategoryList'
  '/rest/products/{productId}':
    get:
      tags:
        - Navigation
      description: |-
        Product detail API
        - product detail info
        - price info
        - Inventory info
        - product image info
        - SKUs
        - Warranty Items
        - Enrichment Info
        - Brand Story
      parameters:
        - name: productId
          in: path
          description: Product Id
          default: R27814702.pid
          required: true
          type: string
          format: string
        - name: skuId
          in: query
          description: SKU ID
          required: false
          type: string
          format: string
          default: R27814702
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/ProductPage'
  /rest/categories:
    get:
      tags:
        - Navigation
      description: Top Navigation API
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/NavigationMenu'
  '/rest/price/{skuId}':
    get:
      tags:
        - PRICE
      description: Retrieve price by SKU ID
      parameters:
        - name: skuId
          in: path
          description: sku id
          default: R27814702
          required: true
          type: string
          format: string
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/success-price-response'
        '400':
          description: faliure response
          schema:
            $ref: '#/definitions/faliure-price-response'
  '/rest/inventory/{skuId}':
    get:
      tags:
        - INVENTORY
      description: inventory info of SKU
      parameters:
        - name: skuId
          in: path
          default: R27814702
          required: true
          type: string
          format: string
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/inventory-response'
  '/rest/orders/{orderId}/shippingAddresses':
    get:
      tags:
        - CHECKOUT
      summary: Get all available shipping addresses for logged users during checkout.
      description: >-
        This API is only for logged users. please not called this API if it is
        anonymous user. User cookies are required, please refer to
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions
      parameters:
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/shippingAddresses-response'
    post:
      tags:
        - CHECKOUT
      summary: Create a new shipping addresses during checkout
      description: >-
        Create shipping addresses. And suits for below scenarios 1. User save a
        new shipping address. User cookies are required, please refer to
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: createShippingAddressInfo
          in: body
          schema:
            $ref: '#/definitions/shippingAddresses-request'
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/shippingAddresses-save-response'
        '422':
          description: invalidate fields detected
          schema:
            $ref: '#/definitions/shippingAddresses-save-error-response'
  '/rest/orders/{orderId}/shippingAddresses/{nickName}':
    get:
      tags:
        - CHECKOUT
      summary: Get address data by nickName
      description: >-
        when landing shipping edit page, get address data by nickName of
        addressbook.  For anonymous user, please put "default" as nickName. User
        cookies are required, please refer to
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions
      parameters:
        - name: nickName
          in: path
          type: string
          description: >-
            Retrieve specified shipping address according to nick name for
            logged in users. For anonymous user, value should always be
            'default'
          required: true
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
      responses:
        '200':
          description: sucess response
          schema:
            $ref: '#/definitions/shippingAddresses-query-response'
    put:
      tags:
        - CHECKOUT
      summary: Update shipping address
      description: >-
        when saving or selecting existed shipping address. For anonymous user,
        please put "default" for nickName. User cookies are required, please
        refer to
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: shippingAddressInfo
          in: body
          schema:
            $ref: '#/definitions/shippingAddresses-request'
        - name: nickName
          in: path
          type: string
          description: >-
            Update specified shipping address according to nick name for logged
            in users. For anonymous user, value should always be "default". User
            cookies are required, please refer to           
            https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions
          required: true
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
        - name: edit
          in: query
          type: boolean
          required: true
          description: >-
            indicate this requrest is for selecting or editing existed shipping
            address
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/shippingAddresses-save-response'
        '422':
          description: invalidate fields detected
          schema:
            $ref: '#/definitions/shippingAddresses-save-error-response'
  '/rest/orders/{orderId}/shippingOptions':
    get:
      tags:
        - CHECKOUT
      summary: Get all shipping methods
      description: >-
        After updating, selecting or creating shipping address, Get all
        available shipping methods related to order`s shipping address. User
        cookies are required, please refer to
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions
      parameters:
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
      responses:
        '200':
          description: sucess response
          schema:
            $ref: '#/definitions/shippingOptions-response'
    post:
      tags:
        - CHECKOUT
      summary: Save shipping option once shipping method is changed.
      description: ' When saving selected shipping option. User cookies are required, please refer to https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions'
      parameters:
        - name: shippingMethod
          in: query
          required: true
          type: string
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
      responses:
        '200':
          description: sucess response
          schema:
            $ref: '#/definitions/shippingOptions-save-response'
  '/rest/orders/{orderId}/shippingOptions/saveAdditionalShippingInfo':
    post:
      tags:
        - CHECKOUT
      summary: Save additional shipping info
      description: >-
        When saving additional shipping info. For example, SF shipping method
        required citizen code. User cookies are required, please refer to
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions
      parameters:
        - name: citizenshipCode
          in: query
          required: true
          type: string
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
      responses:
        '200':
          description: sucess response
          schema:
            $ref: '#/definitions/saveAdditionalShippingInfo-response'
  '/rest/orders/{orderId}/billing':
    post:
      tags:
        - CHECKOUT
      summary: Create new credit card payment infomation
      description: Create new credit card payment infomation
      parameters:
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
        - name: billing
          in: body
          schema:
            $ref: '#/definitions/billing'
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/order'
  /rest/miniCart:
    get:
      summary: Return mini cart detail
      description: >-
        Get mini cart detail info, no specific parameter required but user
        cookies(https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions)
      tags:
        - CART
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/miniCartResponse'
        '400':
          description: error response
          schema:
            $ref: '#/definitions/exception'
  /rest/cart:
    get:
      summary: Return shopping cart detail
      description: >-
        Get shopping cart detail, no specific parameter required but user 
        cookies(
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions)
      tags:
        - CART
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/cartResponse'
        '400':
          description: error response
          schema:
            $ref: '#/definitions/exception'
    post:
      summary: Add item(s) to cart
      tags:
        - CART
      description: >-
        add sku(s) to cart. This API support add one item into cart also
        supports the advanced features of add multiple items into cart. And the
        user  cookies are required(
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions)
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: addItemsInfo
          in: body
          schema:
            $ref: '#/definitions/addItem-request'
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/cartResponse'
        '400':
          description: error response
          schema:
            $ref: '#/definitions/exception'
    put:
      summary: Update item quantity
      description: >-
        Update the quantity of items within the cart, and the user cookies are
        required(
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions)
      tags:
        - CART
      parameters:
        - name: cartItems
          in: body
          required: true
          description: The changed commerce item
          schema:
            $ref: '#/definitions/itemChangeRequest'
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/cartResponse'
        '400':
          description: error response
          schema:
            $ref: '#/definitions/exception'
  '/rest/cart/items/{id}':
    delete:
      summary: Remove commerce item from cart
      description: >-
        The user cookies are required(
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions)
      tags:
        - CART
      parameters:
        - name: id
          in: path
          type: string
          required: true
          description: The commerce item id
          default: '0606335'
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/cartResponse'
        '400':
          description: error response
          schema:
            $ref: '#/definitions/exception'
  '/rest/cart/promotions/{id}':
    delete:
      summary: Remove promotion from order
      description: >-
        The user cookies are required(
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions)
      tags:
        - CART
      parameters:
        - name: id
          in: path
          description: The promotion code
          required: true
          type: string
          default: co002
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/cartResponse'
        '400':
          description: error response
          schema:
            $ref: '#/definitions/exception'
    put:
      summary: Apply promotion to order
      description: >-
        The user cookies are required(
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions)
      tags:
        - CART
      parameters:
        - name: id
          in: path
          description: The promotion coupon code
          required: true
          type: string
          default: co002
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/cartResponse'
        '400':
          description: error response
          schema:
            $ref: '#/definitions/exception'
  /rest/checkout:
    get:
      summary: Continuing the Checkout Process
      description: >-
        No specific parameter required but cookies. The user cookies are
        required(
        https://solution.aaxisgroup.net/wiki/display/ASH/API+Definitions)
      tags:
        - CART
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/cartResponse'
        '400':
          description: error response
          schema:
            $ref: '#/definitions/exception'
  '/rest/orders/{orderId}/current':
    get:
      tags:
        - CHECKOUT
      summary: Get current order data
      description: Get current order data
      parameters:
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/order'
  '/rest/orders/{orderId}':
    put:
      tags:
        - CHECKOUT
      summary: Place current order
      description: >-
        This API is for order replacing and returns the third-party payment URLs
        with necessary token or payment info for redirection.
      parameters:
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
        - name: paymentType
          in: query
          type: string
          required: true
          description: 'payment type, must be one of CREDITCARD, ALIPAY, PAYPAL or TENPAY'
        - name: creditCardVerificationNumber
          in: query
          type: string
          required: false
          description: Verification number of creditCard
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/place-order-response'
    get:
      tags:
        - CHECKOUT
      summary: Get placed order data
      description: >-
        This API is response for retrieve order info which had been replaced
        already. But the profile associated with targeted order must be current
        profile. 
      parameters:
        - name: orderId
          in: path
          type: string
          required: true
          description: order id
      responses:
        '200':
          description: success response
          schema:
            $ref: '#/definitions/order'
definitions:
  place-order-response:
    type: object
    properties:
      success:
        type: boolean
        default: true
      result:
        type: string
        description: The redirection url for third-party payments or credit card
        default: www.ashford.com/us/checkout/confirmResponse.jsp
  miniCartResponse:
    type: object
    properties:
      cart:
        $ref: '#/definitions/miniCart'
  cartResponse:
    type: object
    properties:
      cart:
        $ref: '#/definitions/cart'
  miniCart:
    type: object
    properties:
      id:
        type: string
        description: The order id
        default: o140002
      profileId:
        type: string
        description: The profile id
        default: pf230000
      totalCommerceItemCount:
        type: number
        format: long
        description: The total of commerce item
        default: 1
      orderPriceInfo:
        $ref: '#/definitions/orderPriceInfo'
      convertedOrderPriceInfo:
        $ref: '#/definitions/orderPriceInfo'
      commerceItems:
        type: array
        items:
          $ref: '#/definitions/commerceItem'
  cart:
    type: object
    properties:
      id:
        type: string
        description: The order id
        default: o140002
      profileId:
        type: string
        description: The profile id
        default: pf230000
      totalCommerceItemCount:
        type: number
        format: long
        description: The total of commerce item
        default: 1
      commerceItems:
        type: array
        items:
          $ref: '#/definitions/commerceItem'
      priceInfo:
        $ref: '#/definitions/orderPriceInfo'
      convertedPriceInfo:
        $ref: '#/definitions/orderPriceInfo'
      orderPromotions:
        type: array
        items:
          $ref: '#/definitions/promotion'
      shippingPromotions:
        type: array
        items:
          $ref: '#/definitions/promotion'
  order:
    type: object
    properties:
      id:
        type: string
        description: The order id
        default: o140002
      profileId:
        type: string
        description: The profile id
        default: pf230000
      totalCommerceItemCount:
        type: number
        format: long
        description: The total of commerce item
        default: 1
      commerceItems:
        type: array
        items:
          $ref: '#/definitions/commerceItem'
      priceInfo:
        $ref: '#/definitions/orderPriceInfo'
      convertedPriceInfo:
        $ref: '#/definitions/orderPriceInfo'
      shippingGroups:
        type: array
        items:
          $ref: '#/definitions/shippingGroup'
      paymentGroups:
        type: array
        items:
          $ref: '#/definitions/paymentGroup'
      orderPromotions:
        type: array
        items:
          $ref: '#/definitions/promotion'
      shippingPromotions:
        type: array
        items:
          $ref: '#/definitions/promotion'
  shippingGroup:
    type: object
    properties:
      id:
        type: string
        description: The shipping group id
        default: sg140009
      shippingMethod:
        $ref: '#/definitions/shippingMethod'
      description:
        type: string
        description: >-
          The shipping description (based traslation solution, it may only
          return as contentkey)
        default: sg140009
      shippingAddress:
        $ref: '#/definitions/address'
      citizenShipCode:
        type: string
        description: the citizen code of user
  promotion:
    type: object
    properties:
      couponCode:
        type: string
        description: The applied promotion code
        default: dclm252b2
      displayName:
        type: string
        description: >-
          The promotion display name(based traslation solution, it may only
          return as contentkey)
        default: Order 10% off
      discount:
        type: number
        format: double
        description: The discount price
        default: -34
      description:
        type: string
        description: >-
          The promotion description (based traslation solution, it may only
          return as contentkey)
        default: ''
  commerceItem:
    type: object
    properties:
      id:
        type: string
        description: The commerce item id (ATG back-end item id)
        default: ci34233334
      catalogRefId:
        type: string
        description: SKU id
        default: '0606335'
      productId:
        type: string
        description: product id
        default: '0606335'
      productDisplayName:
        type: string
        description: >-
          product display name (based traslation solution, it may only return as
          contentkey)
        default: Men Defio
      productURL:
        type: string
        description: product url
        default: /watches/all+brands/movado+watches+for+men+and+women/defio/0606335.pid
      productImage:
        type: string
        description: product thumbnail image
        default: /images/catalog/movado/defio/0606335_FTZ.jpg
      brand:
        type: string
        description: brand name for current SKU
        default: Movado
      brandURL:
        type: string
        description: brand landing page url
        default: /watches/movado/_/N_dddf6045
      quantity:
        type: number
        format: long
        description: item quantity
        default: 1
      itemPriceInfo:
        $ref: '#/definitions/itemPriceInfo'
      convertedPrice:
        $ref: '#/definitions/itemPriceInfo'
      itemPromotions:
        type: array
        items:
          $ref: '#/definitions/promotion'
  itemPriceInfo:
    type: object
    description: The item price info
    properties:
      amount:
        type: number
        format: double
        description: Item total amount
        default: 972
      quantityDiscounted:
        type: integer
        description: The quantity discounted
        default: 1
      discounted:
        type: boolean
        description: whether it is discounted
        default: true
      rawTotalPrice:
        type: number
        format: double
        description: Raw total price without discount
        default: 1000
      currencyCode:
        type: string
        description: currency code
        default: USD
      listPrice:
        type: number
        format: double
        description: list price
        default: 1000
      unitPrice:
        type: number
        format: double
        description: unit price
        default: 972
  orderPriceInfo:
    type: object
    description: The price detail of current order
    properties:
      amount:
        type: number
        format: double
        description: order amount without tax and shipping
        default: 972
      total:
        type: number
        format: double
        description: order total amount with tax and shipping
        default: 972
      shipping:
        type: number
        format: double
        description: shipping cost
        default: 0
      tax:
        type: number
        format: double
        description: tax cost
        default: 0
      currencyCode:
        type: string
        description: currency Code
        default: USD
      discounted:
        type: boolean
        description: To mark the current order whether it is discounted
        default: true
      rawSubtotal:
        type: number
        format: double
        description: subtotal without discounted.
        default: 1000
      discountAmount:
        type: number
        format: double
        description: Discount amount for current order.
        default: 28
  itemChangeRequest:
    type: object
    description: The changed commerce item
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/itemUpdate'
  itemUpdate:
    type: object
    properties:
      commerceId:
        type: string
        description: The commerce item id
        default: c0606335
      quantity:
        type: number
        format: long
        description: Update item quantity
        default: 2
  shippingAddresses-request:
    type: object
    properties:
      hkpickup:
        type: boolean
        description: if current address is HK pickup
      address:
        $ref: '#/definitions/address'
  saveAdditionalShippingInfo-response:
    type: object
    properties:
      sucess:
        type: boolean
        default: true
      result:
        $ref: '#/definitions/order'
  shippingOptions-response:
    type: object
    properties:
      sucess:
        type: boolean
        default: true
      result:
        $ref: '#/definitions/shippingMethod'
  shippingOptions-save-response:
    type: object
    properties:
      sucess:
        type: boolean
        default: true
      result:
        $ref: '#/definitions/order'
  shippingAddresses-save-response:
    type: object
    properties:
      success:
        type: boolean
        default: true
      result:
        $ref: '#/definitions/order'
  shippingAddresses-save-error-response:
    type: object
    properties:
      success:
        type: boolean
        default: false
      errors:
        type: array
        items:
          $ref: '#/definitions/exception'
  shippingAddresses-query-response:
    type: object
    properties:
      success:
        type: boolean
        default: true
      result:
        $ref: '#/definitions/address'
  shippingAddresses-response:
    type: object
    properties:
      success:
        type: boolean
        default: true
      result:
        $ref: '#/definitions/shippingAddresses'
  shippingAddresses:
    type: object
    properties:
      shippingAresses:
        type: array
        items:
          $ref: '#/definitions/address'
  address:
    type: object
    properties:
      nickName:
        type: string
        default: shipAdr_one
        description: the identify name in all address books
      firstName:
        type: string
        default: mark
        description: user`s first name
      lastName:
        type: string
        default: ma
        description: user`s last name
      address1:
        type: string
        default: 'software pack zone A, 555 tianhua street'
        description: 'detailed address info, down to street.'
      address2:
        type: string
        default: '5th building, 2nd floor'
        description: additional address info.
      city:
        type: string
        default: chengdu
        description: city info
      district:
        type: string
        default: high-tech zone
        description: district info
      state:
        type: string
        default: sichuan
        description: state info
      country:
        type: string
        default: CN
        description: country code
      postalCode:
        type: string
        default: '610000'
        description: zip code of your area
      phoneNumber:
        type: string
        default: '13320695121'
        description: primary phone number
      daytimePhoneNumber:
        type: string
        default: 028-12312312
        description: secondary phone number
      email:
        type: string
        default: markma@aaxischina.com
        description: email address
      defaultAddress:
        type: boolean
        default: true
  shippingMethod:
    type: object
    properties:
      name:
        type: string
        description: the name of shipping method
        default: EMS
      translatedName:
        type: string
        description: the translation of shipping method name
        default: EMS
      shippingCost:
        description: The price of current shipping method
        $ref: '#/definitions/priceDetail'
      convertedshippingCost:
        description: The converted price of current shipping method
        $ref: '#/definitions/priceDetail'
      additionalField:
        type: string
        description: additional fields required by current shipping method
        default: citizenshipCode
  addItem-response:
    type: object
    properties:
      success:
        type: boolean
        default: true
  exception:
    type: object
    properties:
      errorCode:
        type: string
        description: error code
        default: errorCode
      errorMessage:
        type: string
        description: error message
        default: error message
      translatedErrorMessage:
        type: string
        description: translation of error message
        default: error message
  addItem-request:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/addItem'
  addItem:
    type: object
    properties:
      productId:
        type: string
        description: Identifier of product
        default: R27814702
        format: string
      skuId:
        type: string
        description: Identifier of sku
        default: R27814702
        format: string
      quantity:
        type: number
        description: The quantity of item that need to be add to cart
        default: 1
  inventory-response:
    type: object
    properties:
      success:
        type: boolean
        default: true
      result:
        $ref: '#/definitions/inventoryItem'
  inventoryItem:
    type: object
    properties:
      stock:
        type: number
        description: stock level
        default: 100
      preorder:
        type: number
        description: stock level of pre order
        default: 10
  success-price-response:
    type: object
    properties:
      success:
        type: boolean
        default: true
      result:
        $ref: '#/definitions/priceItem'
  faliure-price-response:
    type: object
    properties:
      success:
        type: boolean
        default: false
      Error:
        $ref: '#/definitions/error'
  priceItem:
    type: object
    properties:
      currency:
        type: string
        description: Currency code of current user
        default: USD
      retailPrice:
        description: 'Retail price, this is the base price shown to users.'
        $ref: '#/definitions/priceDetail'
      ourPrice:
        description: >-
          Ashford discount price, this price owns higher priority than retail
          price.
        $ref: '#/definitions/priceDetail'
      salePrice:
        description: 'Sale price, this is most highest priority price.'
        $ref: '#/definitions/priceDetail'
      savingPrice:
        description: saving price
        $ref: '#/definitions/SaveDetail'
  SaveDetail:
    type: object
    properties:
      savingAmount:
        type: number
        description: saving price amount
        default: '1,300.00'
      label:
        type: string
        description: saving label
        default: you save
      currencyAmount:
        type: number
        description: saving price amount with currency
      savingPercentage:
        type: integer
        description: saving percentage
  priceDetail:
    type: object
    properties:
      amount:
        type: number
        description: price amount
        default: '1,300.00'
      label:
        type: string
        description: 'price label, used to show the price label in front-end.'
      currency:
        type: string
        description: 'currency code '
        default: USD
      currencyAmount:
        type: number
        description: price amount with currency
  login-success-response:
    type: object
    properties:
      success:
        type: boolean
        default: true
  login-failure-response:
    type: object
    properties:
      success:
        type: boolean
        default: false
      error:
        $ref: '#/definitions/error'
  reset-pwd-response:
    type: object
    properties:
      success:
        type: boolean
        default: true
  login-error:
    properties:
      errorCode:
        type: string
        default: '401'
      errorMessage:
        type: string
        default: 'Auth failed, please check your user/pwd'
  logout-response:
    properties:
      success:
        type: boolean
        default: true
  response:
    type: object
    properties:
      success:
        type: boolean
  error:
    properties:
      errorCode:
        type: string
      errorMessage:
        type: string
      type:
        type: string
      fieldsError:
        type: array
        items:
          $ref: '#/definitions/fieldsError'
  fieldsError:
    properties:
      property:
        type: string
      errorMessage:
        type: string
  NavigationMenu:
    type: object
    properties:
      navigation:
        type: array
        items:
          $ref: '#/definitions/CategoryMenu'
  CategoryMenu:
    type: object
    description: Root node of Top Navigation in the header
    properties:
      categoryName:
        type: string
        description: Category Root Node display name
        default: SHOP BY BRAND
      restURL:
        type: string
        description: >-
          Category rest url, if it is empty means it is not click-able (Will
          change it to SEO URL pattern)
        default: N-7zn
      subCategories:
        type: array
        items:
          $ref: '#/definitions/CategoryColumnMenu'
  CategoryColumnMenu:
    type: object
    description: Seconde level category menus
    properties:
      label:
        type: string
        description: Category display label
        default: Armand Nicolet
      restURL:
        type: string
        description: 'Category link url, if empty means it is not click-able'
        default: ''
      emptyHeader:
        type: boolean
        description: Whether to show the label name
        default: false
      cateItems:
        type: array
        items:
          $ref: '#/definitions/SubCategoryMenu'
  SubCategoryMenu:
    type: object
    description: Sub category menus
    properties:
      label:
        type: string
        description: Category menu display label
        default: Armand Nicolet
      restURL:
        type: string
        description: Category link url
        default: N-7zn
      type:
        type: string
        description: Menu type
        default: link
  CategoryList:
    type: object
    properties:
      facetGroups:
        type: array
        items:
          $ref: '#/definitions/Facets'
      products:
        $ref: '#/definitions/Products'
  Facets:
    type: object
    properties:
      type:
        type: string
        default: text
        description: Facet type. E.g Range/Text
      facetName:
        type: string
        default: Category
        description: Fact root name in Endeca. E.g Price/Category/Brand
      facetValues:
        type: array
        items:
          $ref: '#/definitions/FacetValue'
  FacetValue:
    type: object
    properties:
      label:
        type: string
        default: Armand Nicolet
        description: Facet display name
      selected:
        type: boolean
        default: true
        description: To indicate current facet is selected or not
      count:
        type: integer
        default: 10
        description: To indicate the num of products under this facet
      restURL:
        type: string
        default: ''
        description: rest url of this facet
      lowerBound:
        type: string
        default: 0
        description: 'lowerbound for this facet, it is usually used by Range type facet'
      upperBound:
        type: string
        default: 10
        description: 'upperBound for this facet, it is usually used by Range type facet'
      type:
        type: string
      imageUrl:
        type: string
        description: Facet image url
  Products:
    type: object
    description: Products data
    properties:
      productCount:
        type: integer
        default: 20
        description: Total product count
      currentPage:
        type: integer
        default: 0
        description: Current page
      pageSize:
        type: integer
        default: 10
        description: Record size per page
      sortOptions:
        type: array
        description: Sort by options
        items:
          $ref: '#/definitions/sortOption'
      productList:
        type: array
        items:
          $ref: '#/definitions/Product'
  sortOption:
    type: object
    properties:
      selected:
        type: boolean
        description: To indicate the current sortby option whether it is selected or not
        default: false
      restURL:
        type: string
        description: Rest url of the current sortby option.
        default: ''
      label:
        type: string
        description: Sortby option display name
        default: 'Price: Low To High'
  Product:
    type: object
    properties:
      restURL:
        type: string
        default: /watches/armand-nicolet/m02/9641A-AG-M9140.pid
        description: Product detail page url
      brandName:
        type: string
        default: Armand Nicolet
        description: Brand name
      productName:
        type: string
        default: Men's M02
        description: Product name
      priceCurrent:
        type: number
        default: 788
        description: Current price
      priceRetail:
        type: number
        default: 3200
        description: Retail price
      discount:
        type: number
        default: 2412
        description: Discount for this product
      savingPercentage:
        type: number
        default: 75.375
        description: Saving percentage
      salePriceLabelText:
        type: string
        default: ''
        description: Sale price lable displayname
      retailPriceLabelText:
        type: string
        default: retail
        description: Retail price lable displayname
      showVaultSold:
        $ref: '#/definitions/ShowVaultSold'
      displaySaleAndSavingSection:
        type: boolean
        default: true
        description: Whether to show saving indicator
      images:
        type: array
        description: Image urls list
        items:
          type: string
          default: /images/catalog/armand-nicolet/m02/9641A-AG-M9140_FSA.jpg
          description: Relative image url
  ShowVaultSold:
    type: object
    description: VIP product indictor
    properties:
      lable:
        type: string
      imageUrl:
        type: string
  ProductPage:
    type: object
    properties:
      productInfo:
        $ref: '#/definitions/productInfo'
      enrichmentInfo:
        $ref: '#/definitions/enrichmentInfo'
  productInfo:
    type: object
    properties:
      breadcrumbs:
        type: array
        items:
          $ref: '#/definitions/breadcrumb'
      showComparisonProductLink:
        type: boolean
        description: Show comparson production link in PDP page
        default: false
      comparisonProductLabel:
        type: string
        description: >-
          If the showComparisonProductLink is true, then the parameter value as
          the link text
        default: View 2 Comparisons
      brandName:
        type: string
        description: descproduct brand display name
        default: Calvin Klein Jewelry
      brandUrl:
        type: string
        description: Brand landing page url (Will change this to SEO URL pattern)
        default: >-
          /us/jewelry/commerce+root/all+brands/calvin+klein+jewelry/cat1830003.cid
      brandTitle:
        type: string
        description: 'brand title, used to in a label'
        default: See Calvin Klein Jewelry Products
      productUrl:
        type: string
        description: product detail page url
        default: /us/jewelry/all+brands/calvin+klein+jewelry/illusory/KJ69AE010100.pid
      productName:
        type: string
        description: Product display name
        default: Women's  Continuity Bracelet
      productDescription:
        type: string
        description: product description
        default: 'Calvin Klein Jewelry, Continuity, Women''''s Bracelet, KJ10CB01010S'
      productReadMoreMsg:
        type: string
        description: >-
          If the length of productDescription content is gather than 290, show
          the link with this value of productReadMoreMsg
        default: ... read more ...
      productAuxiliaryMedias:
        type: array
        items:
          $ref: '#/definitions/productAuxiliaryMedia'
      concatenatedProductName:
        type: string
        description: >-
          concatenated product name,if the useDispName is true, then the value
          should be product display name, otherwise, the value should be
          brandName + " " + productGender + " " + collectionName+"
          "+productType(if the collectionName do not contains the productType)
        default: Calvin Klein Jewelry Women's Continuity Bracelet
      warrantyItems:
        type: array
        items:
          $ref: '#/definitions/warrantyItem'
      showWarrantyDesc:
        type: boolean
        description: Whether to show warranty description
        default: false
      productLargeUrl:
        type: string
        description: product largeImage url
        default: /images/catalog/calvin-klein-jewelry/continuity/KJ10CB01010S_FLA.jpg
      productLargeZoomUrl:
        type: string
        description: product largeImage zoom url
        default: >-
          "http://www.ashford.com/images/catalog/calvin-klein-jewelry/continuity/KJ10CB01010S_FXA.jpg"
      clearance:
        type: boolean
        description: >-
          product is clearance, is used as a flag to check whether display
          productLargeUrl in page or not
        default: false
      productDisplayName:
        type: string
        description: product display name
        default: Calvin Klein Jewelry Continue KJ0EJE100100 Women's Earring
      skuInfo:
        $ref: '#/definitions/skuInfo'
      sizeChartLabel:
        type: string
        description: >-
          size chart label, when the sizeInfos length is gather than 0 , the
          value shoud not be empty
        default: SizeChart
      sizeChartImgUrl:
        type: string
        description: >-
          size chart image url, when the sizeInfos length is gather than 0, the
          value should not be empty.
        default: /images/ashford/bracelet.png
      sizeInfos:
        type: array
        items:
          $ref: '#/definitions/sizeInfo'
  breadcrumb:
    type: object
    properties:
      name:
        type: string
        description: bread crumb name
        default: Home
      url:
        type: string
        description: bread crumb url
        default: /us/index.jsp
  productAuxiliaryMedia:
    type: object
    properties:
      count:
        type: string
        description: 'the index of the array productAuxiliaryMedia, start with 1'
        default: 1
      imageUrl:
        type: string
        description: The product auxiliaryMedia image url
        default: /images/catalog/zenith/ashford/03-2061-405-21-M2060_FMZ.jpg
      imageZoomUrl:
        type: string
        description: The product auxiliaryMedia image zoom url
        default: /images/catalog/zenith/ashford/03-2061-405-21-M2060_FXA.jpg
  warrantyItem:
    type: object
    properties:
      type:
        type: string
        description: warranty type
        default: ASHFORD\u2019S WORRY-FREE 2 year warranty
      typeDesc:
        type: string
        description: >-
          warranty type description,when "showWarrantyDesc" is true, show the
          value in pdp page, the value can be html content.
        default: >-
          "<P ALIGN='LEFT'>Not 100% satisfied with your purchase? No worries -
          simply send your item back to Ashford in its new, unused condition,
          and Ashford will be happy to provide either a full refund of the
          purchase price or a store credit toward an exchange.</P><P
          ALIGN='LEFT'><B>PLEASE NOTE:</B></P><P ALIGN='LEFT'>- Items sent to
          any address outside the United States are considered final sale and
          cannot be returned.</P><P ALIGN='LEFT'>-  Ashford will only refund the
          value of the item that is being returned or exchanged; any shipping
          fees from the original purchase will not be refunded.</P><P
          ALIGN='LEFT'>-  Return shipping is the responsibility of the
          buyer.</P><P ALIGN='LEFT'></P>"
      count:
        type: integer
        description: 'the warranty index, start with 1'
        default: 1
      description:
        type: string
        description: 'warranty description, the value should be html content'
        default: <span>2</span><span><span>Year</span><span>Warranty</span></span>
      filePath:
        type: string
        description: warranty file path.
      fileDownloadMsg:
        type: string
        description: >-
          if the filePath is not empty, the value also should not be empty, the
          value come from resource file.
        default: 'DOWNLOAD MANUAL & WARRANTY BOOKLET [PDF]'
      imagePath:
        type: string
        description: >-
          warranty image path, when "showWarrantyDesc" is false, show the value
          in pdp page.
        default: 'http://2.shrd.www.ashford.com.edgekey.net/J/9/RW4fRch-M.webp'
  skuInfo:
    type: object
    properties:
      skuId:
        type: string
        description: >-
          selected sku id, the value will be changed according the user select
          size
      inventoryInfo:
        $ref: '#/definitions/inventoryInfo'
      showListPrice:
        type: boolean
        description: a flag to control should show list price in page
        default: false
      listPriceDesc:
        type: string
        description: list price description
        default: 'Retail: '
      listPrice:
        type: string
        description: list price
        default: $1999.00
      showSalePrice:
        type: boolean
        description: >-
          the value is used to control whether show the sale price, the value do
          not display in page
        default: false
      salePriceDesc:
        type: string
        description: 'sale price description, when the showSalePrice is true'
        default: 'AshfordPrice: '
      salePrice:
        type: string
        description: 'sale price, when the showSalePrice is true'
        default: $799.60
      savingsDesc:
        type: string
        description: saving price description
        default: 'YOURPRICE: '
      savingPrice:
        type: string
        description: saving price
        default: $447.78
      showOurPrice:
        type: boolean
        description: a flag to control whether show the our price
        default: false
      ourPriceDesc:
        type: string
        description: our price description
        default: 'YOURPRICE: '
      ourPrice:
        type: string
        description: our price
        default: $447.78
  sizeInfo:
    type: object
    properties:
      value:
        type: string
        description: size value
        default: 6 inches
      label:
        type: string
        description: 'size labe, it used as link value'
        default: 6
      state:
        type: string
        description: 'size state, the should have "selected","available","selected"'
        default: selected
  inventoryInfo:
    type: object
    properties:
      available:
        type: boolean
        description: the sku inventory is available
        default: false
      stockLevel:
        type: integer
        description: 'the stockLevel of sku, it is used to logic judgement in front-end.'
        default: 0
      availabilityStatus:
        type: integer
        description: 'availabilityStatus of sku, it is used to logic judgement in front-end.'
        default: 1001
      outOfStockMsg:
        type: string
        description: >-
          out of stock message, when the available is false, the vlaue shoud not
          be empty
        default: Temporarily Out Of Stock
      contactUs:
        type: string
        description: >-
          the contact us link value, when the available is false and stockLevel
          is "0", the value should not be empty
        default: us
      stockMsg:
        type: string
        description: >-
          stock message, when the available  is ture, the value should not be
          empty
        default: In Stock and Ready to Ship  from United States
  enrichmentInfo:
    type: object
    properties:
      detailInfo:
        $ref: '#/definitions/detailInfo'
      brandStory:
        $ref: '#/definitions/brandStory'
      warrantyInfo:
        $ref: '#/definitions/warrantyInfo'
      shippingInfo:
        $ref: '#/definitions/shippingInfo'
  detailInfo:
    type: object
    properties:
      tabLabel:
        type: string
        description: Detail tab label message
        default: Details
      hswwSize:
        type: string
        description: 'product primarySku size, if the value is not empty'
        default: Small
      sizeHeader:
        type: string
        description: >-
          size header in page, when the hswwSize is not empty, then the value
          should not be empty, and the value come from resource file
        default: size
      specifications:
        type: array
        items:
          $ref: '#/definitions/specification'
  specification:
    type: object
    properties:
      type:
        type: string
        description: 'specification type, not shown on page'
        default: FEATURE
      label:
        type: string
        description: specification label
        default: FUNCTIONS
      location:
        type: string
        description: >-
          specification location, not shown on page, it used to decide the
          speicificatin should display left ot right or last
        default: left
      items:
        type: array
        items:
          $ref: '#/definitions/itemInfo'
      excludeSpecCount:
        type: string
        description: 'for now, the production disable the exclude specication list'
  itemInfo:
    type: object
    properties:
      name:
        type: string
        description: item name
        default: item1
      values:
        type: array
        items:
          type: string
        description: item values
  brandStory:
    type: object
    properties:
      tabLabel:
        type: string
        description: 'tab label, this value come from resource file'
        default: Brand story
      brandHeader:
        type: string
        description: 'brandName+" "+productType,  header value'
        default: Bulova Watches
      brandDescTitle:
        type: string
        description: Title of the label <p> if the brandDescription is not empty
        default: Brand story
      brandDescription:
        type: string
        description: brand long description
        default: >-
          "The Bulova watch company, founded in 1911 by Bohemian immigrant
          Joseph Bulova, is considered an American icon. The brand developed
          what is believed to be the world\u2019s first clock radio, ran the
          world\u2019s first television commercial and created the Accutron, the
          worl\u2019s first fully electronic timekeeper, which became an
          integral part of U.S. space technology, used on missions including the
          first moon walk in 1969. The brand has also produced military watches,
          aircraft instruments, critical torpedo mechanisms and kept official
          time on Air Force One."
      brandUrl:
        type: string
        description: brand url
        default: /watches/bulova/cat6009.cid
      catTitle:
        type: string
        description: category Name + " " + productDisplayType
        default: Rosedale Watches
      catDescription:
        type: string
        description: 'category long description, if the value is not empty, display in page'
        default: ''
      catUrl:
        type: string
        description: Category url
        default: /watches/all+brands/bulova/rosedale/cat787928.cid
      brandTitle:
        type: string
        description: >-
          The title of a label which  id="sameBrandProduct", and the value
          should be composed of "See "+brandName+" "+ productDisplayType
        default: See Seiko Watches
      useProductDisplayName:
        type: boolean
        description: >-
          The property of the product,product.useDispName, the value should not
          display in page.
        default: false
      productName:
        type: string
        description: product display name
        default: Bulova Women's Rosedale Watch
      productUrl:
        type: string
        description: >-
          product url, when useProductDisplayName is true, the value shoud not
          be empty
        default: /us/watches/bulova/96R168.pid
      productDescription:
        type: string
        description: product.longDescription
        default: >-
          "Bulova, Rosedale, Women's Watch, Stainless Steel Case, Stainless
          Steel Bracelet, Japanese Quartz (Battery-Powered), 96R168"
  warrantyInfo:
    type: object
    properties:
      tabLabel:
        type: string
        description: 'tab label, this value come from resource file'
        default: Warranty
      warrantyTitle:
        type: string
        description: warranty title
        default: Warranty
      repairServicesMsg:
        type: string
        description: 'repair service msg, this should be allow html content'
        default: >-
          "For repair services, please contact our Repairs Department at
          1-866-ASHFORD (1-866-274-3673) or via email at <a
          href=\"mailto:customerservice@ashford.com\">customerservice@ashford.com</a>"
      warrantyItems:
        type: array
        items:
          $ref: '#/definitions/warrantyItem'
  shippingInfo:
    type: object
    properties:
      tabLabel:
        type: string
        description: 'tab label, this value come from resource file'
        default: Shipping
      htmlContent:
        type: string
        description: html content
        default: ''
  creditCard:
    type: object
    properties:
      creditCardType:
        type: string
        description: The type of credit card
        default: visa
      creditCardNumber:
        type: string
        description: The credit card number
        default: '4005550000000019'
      expirationMonth:
        type: string
        description: The month that the credit card expires
        default: '05'
      expirationYear:
        type: string
        description: The year that the credit card expires
        default: '2018'
  billing:
    type: object
    properties:
      billing:
        $ref: '#/definitions/creditCard'
      billingAddress:
        $ref: '#/definitions/address'
  paymentGroup:
    type: object
    properties:
      paymentGroupId:
        type: string
        description: The type of credit card
        default: visa
      amount:
        type: number
        format: double
        description: the payment total
        default: 25
      currencyCode:
        type: string
        description: The month that the credit card expires
        default: ''
      paymentType:
        type: string
        description: The year that the credit card expires
        default: ''
      billingAddress:
        $ref: '#/definitions/address'
      billing:
        $ref: '#/definitions/creditCard'
